body {
    overflow-x: hidden;
}

.dashboard.container.grid {
    grid-template-columns: auto 1fr;
}

/* Index / User Section */

.section-header,
.user-section-header,
.clients-section-header {
    padding: 30px 60px;
    justify-content: space-between;
}

.search-group {
    position: relative;
    gap: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease-in;
}

.search-group:focus-within,
.search-group:active {
    border-bottom: 1px solid #cfcfcf;
}

.search-group button.search-btn {
    background: transparent;
}

.search-group button.search-btn span.icon-search {
    transition: right 0.2s ease-in;
    place-self: center;
    right: 105%;
    position: absolute;
}

.search-group:focus-within button.search-btn span.icon-search,
.search-group:active button.search-btn span.icon-search {
    transition: right 0.2s ease-in ;
    right: -20px;
}

.search-group input[type="text"] {
    border: none;
}

.search-group input[type="text"],
.search-group input[type="text"]::placeholder {
    font-size: 16px;
    color: #bababa;
}

.user-section-table {
    height: 83.3vh;
    overflow: auto;
    border-top: 1px solid #bababa;
}

.table {
    position: relative;
    border-spacing: 0;
    border-collapse: collapse;
    /* white-space: nowrap; */
    width: 100%;
    /* background-color: #fff; */
}

.sticky {
    position: sticky;
    top: -2px;
    /* left: 0; */
    /* right: 0; */
    width: 100%;
    z-index: 2;
    /* border-bottom: 1px solid #c5c5c5; */
}

.big-table th {
    position: static;
    background-color: #fff;
}

.big-table th,
.big-table td {
    max-height: 100px;
    height: 100px;
    border: 0.4px solid #c5c5c5;
    text-align: left;
    word-wrap: break-word;
    background-clip: padding-box;
}

.big-table tr:last-child td {
    /* border-bottom: none; */
}

.big-table tr th:first-of-type,
.big-table tr td:first-of-type {
    border-left: none;
    width: 0.1%;
    white-space: nowrap;
    /* padding-left: 60px;
    padding-right: 60px;
      padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 60px;
}

.big-table tr th:last-of-type,
.big-table tr td:last-of-type {
    border-right: none;
}

.big-table th:not(th:first-of-type),
.big-table td:not(td:first-of-type) {
    padding-left: 30px;
    padding-right: 30px;
}

.big-table td:first-of-type {
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.big-table td:first-of-type img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.big-table td:first-of-type a {
    display: inline-block;
    width: 80px;
}

.big-table th {
    min-height: 100px;
    border-top: none;
}

.big-table td img {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    width: 80px;
    height: 80px;
}

.user-icon-group {
    gap: 25px;
}

.user-icon-group a {
    display: flex;
    align-items: center;
}

/* test overlay for index - user */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    /* cursor: pointer; */
}

.overlay.active {
    display: block;
}

/* Slide container */

.slide-container {
    position: fixed;
    z-index: 5;
    top: 0;
    right: -480px;
    /*right: 0px;*/

    width: 480px;
    height: 100vh;
    background: #ffffff;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px 0px 0px 20px;
    font-size: 14px;
    line-height: 19px;
    padding: 0 60px;
    padding-top: 70px;
    padding-bottom: 10px;
    transition: right 0.4s ease-in;
    overflow: auto;
}

.slide-ex {
    cursor: pointer;
    position: absolute;
    top: 5%;
}

.slide-container.active {
    right: 0;
}

.slide-form {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: transparent;
}

.slide-form .form-group {
    height: 33px;
}

.slide-form::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.slide-form h2 {
    align-self: start;
}

.slide-form .delete-dev {
    position: absolute;
    right: 60px;
    top: 30px;
    text-decoration: none;
    border-radius: 6px;
    color: #000;
    font-size: 14px;
    padding: 5px 10px;
}

.slide-form .delete-dev:hover {
}

.slide-form .delete-dev .icon {
    margin-left: 10px;
}

.slide-container .form-group {
    position: relative;
    margin-bottom: 25px;
}

.slide-container .form-group:not(.form-group:first-of-type) {
    width: 100%;
}

.slide-form input[type="text"],
.slide-form input[type="password"],
.slide-form select,
.slide-form textarea {
    width: 100%;
}

.slide-form textarea {
    min-height: 160px;
    outline: none;
    resize: none;
}

.label-image {
    position: relative;
    text-align: center;
    background: transparent;
    color: #a2a2a2;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    font-size: 14px;
    align-items: center;
    line-height: 14px;
}

.edit-user-container .profile-picture,
.edit-client-container .profile-picture {
    position: absolute;
}

.slide-container .form-group:not(.form-group:first-of-type) label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* .slide-container .form-group textarea#client-invoice + label {
	bottom: unset;
	top: 0;
} */

.slide-container .form-group:not(.form-group:first-of-type) label span {
    position: absolute;
    left: 20px;
    font-size: 14px;
    /* line-height: 14px; */
    /* line-height: 1	; */
    bottom: 6px;
    color: #a2a2a2;
}

.slide-container .form-group textarea#client-invoice + label span {
    bottom: unset;
    top: 5px;
}

.slide-container .form-group input:not(input[type="file"]),
.slide-container .form-group select,
.slide-container .form-group textarea#client-invoice {
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #a2a2a2;
}

.slide-container .form-group:not(.form-group:first-of-type) label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    border-bottom: 2px solid #a2a2a2;
    transition: 0.3s ease-in;
}

.content-name {
    position: absolute;
    bottom: 6px;
    left: 0;
    transition: all 0.3s ease;
}

/*
* TODO: Add hover shadow on hover on add image button
*/

.slide-container .form-group:first-of-type label:hover,
.slide-container .form-group input[type="text"]:hover,
.slide-container .form-group input[type="password"]:hover,
.slide-container .form-group select,
.slide-container .form-group textarea:hover,
.shadow-me:hover {
    box-shadow: 0 0 10px 2px rgb(223, 215, 215);
}

.slide-container .form-group input[type="text"],
.slide-container .form-group input[type="password"],
.slide-container .form-group select,

.slide-container .form-group textarea {
    color: #a2a2a2;
}

.slide-container
.form-group
input[type="text"]:focus
+ .label-name
.content-name,
.slide-container
.form-group
input[type="password"]:focus
+ .label-name
.content-name,
.slide-container
.form-group
input[type="text"]:valid
+ .label-name
.content-name,
.slide-container
.form-group
input[type="password"]:valid
+ .label-name
.content-name,
.slide-container
.form-group
textarea#client-invoice:focus
+ .label-name
.content-name,
.slide-container
.form-group
textarea#client-invoice:valid
+ .label-name
.content-name {
    transform: translateY(-140%);
    font-size: 13px;
    left: 1px;
    color: #535353;
}

.slide-container .form-group input[type="text"]:focus + .label-name::after,
.slide-container .form-group input[type="password"]:focus + .label-name::after,
.slide-container .form-group input[type="text"]:valid + .label-name::after,
.slide-container .form-group input[type="password"]:valid + .label-name::after {
    left: 2px;
    width: calc(100% - 4px);
}

.slide-container .form-group.input {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.slide-container .form-group.input input[type="button"] {
    border: none;
    color: #606060;
    background-color: transparent;
    border: 1px solid transparent;
}

.slide-container .form-group.input input[type="button"]:hover,
.slide-container .form-group.input input[type="button"]:active {
    border: 1px solid #606060;
}

.form-group.input input[type="button"]:active {
    background: #bebebe;
}

/* MODALS */
/* DELETE FORM modal FROM USER plus timer modal using some of its styling */

section.delete-user-container,
section.invoice-client-container {
    width: 600px;
    max-height: 200px;
}

.delete-user-form,
.invoice-client-form {
    flex-direction: column;
}

.invoice-client-form h3,
.delete-user-form h3,
.timer-form h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.delete-user-form h3 span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}

.delete-user-form .button-group,
.timer-form .button-group {
    gap: 30px;
}

/* END: Index / User Section */

/* TIMER MODAL from Clients */

section.timer-client-container {
    width: 800px;
    height: 400px;
    padding: 30px 60px;
    top: 20%;
}

.timer-client-container .timer-form {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.timer-form h3,
.invoice-client-form h3 {
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}

.timer-group {
    grid-template-columns: 60% auto;
    gap: 80px;
    width: 100%;
}

.timer-group .form-heading {
    display: block;
    margin-bottom: 10px;
}

.timer-group .form-group {
    margin-bottom: 20px;
}

.timer-fields textarea,
.timer-fields input[type="number"],
.timer-fields input[type="number"]::placeholder {
    font-size: 14px;
}

.timer-fields textarea {
    width: 340px;
    height: 70px;
    padding: 5px 20px;
    color: #a1a1a1;
    outline: none;
    resize: none;
    background: #ffffff;
    border: 0.4px solid #a2a2a2;
    border-radius: 4px;
}

.timer-group .form-group input[type="number"] {
    margin-right: 10px;
}

.timer-date .form-group {
    position: relative;
}

.timer-date .form-group .timer-date-img {
    position: absolute;
    width: 157px;
    height: 171px;
    z-index: 7;
}

.label-timer-image {
    position: relative;
    background: transparent;
    cursor: pointer;
    width: 157px;
    height: 171px;
    z-index: 7;
}

.timer-date-input {
    position: absolute;
    z-index: 6;
    top: 0;
}

/* END OF TIMER CLIENT MODAL */

/* START OF INVOICE CLIENT MODAL */

.invoice-client-container {
    position: relative;
    padding: 30px 20px;
    width: 800px;
    top: 20%;
}

.invoice-client-form {
    width: 100%;
}

.invoice-client-form h3 {
    margin-bottom: 20px;
}

.invoice-client-container span.icon-ex {
    position: absolute;
    right: 25px;
    top: 30px;
}

.invoice-client-container .horizontal-separator {
    display: block;
    height: 1px;
    background-color: #bababa;
    width: 100%;
}

.invoice-client-container .invoice-email p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 40px;
}

/* END OF INVOICE CLIENT MODAL */

/* START: User/Dev profile */

.section-profile {
    grid-template-columns: 401px auto;
    padding: 60px 0;
    /* height: 94vh; */
    height: 100%;
}

.profile-info {
    flex-direction: column;
    padding: 0 80px;
    padding-bottom: 20px;
    width: 100%;
    border-right: 1px solid #bababa;
    /* experimental part */
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.profile-info .edit-button {
    align-self: end;
    height: 15px;
    width: 15px;
    margin-bottom: 25px;
}

.profile-group {
    width: 100%;
}

.profile-group img {
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
}

.profile-group h2 {
    margin: 0;
    margin-bottom: 30px;
}

.profile-group h2 span {
    display: block;
}

.profile-description {
    width: 100%;
}

.profile-description p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
}

.profile-group .form-group,
.profile-group .form-group select {
    font-size: 14px;
    width: 100%;
}

.profile-group .form-group select {
    color: #a2a2a2;
    padding: 5px 10px;
    background-color: #fff;
    border: 0.4px solid #a2a2a2;
    border-radius: 4px;
    margin-bottom: 25px;
}

.profile-group .form-group input[type="number"],
.timer-group .form-group input[type="number"] {
    color: #a2a2a2;
    padding: 5px 10px;
    background-color: #fff;
    border: 0.4px solid #a2a2a2;
    border-radius: 4px;
    width: 60px;
    height: 30px;
}

.profile-group .form-group.grid {
    grid-template-columns: repeat(3, auto);
    align-items: center;
    margin-bottom: 60px;
}

.submit-profile-btn {
    margin-bottom: 30px;
}

/* Developer profile table  */

.profile-table-area {
    padding: 0 60px;
}

.table-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 99%;
    scrollbar-width: none;
}

/* Removing scrollbar */
.profile-info::-webkit-scrollbar,
.table-wrapper::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.profile-info::-webkit-scrollbar-track,
.table-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.profile-info::-webkit-scrollbar-thumb,
.table-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
    border: unset;
}

.table-sm-blue {
    display: block;
    overflow-x: auto;
    border-radius: 20px 20px 0 0;
    width: 99.9%;
    white-space: nowrap;
    outline: none;
    border: none;
    z-index: 1;
}

.table-sm-blue thead tr {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

.table-sm-blue tbody tr {
    font-size: 14px;
    color: #505050;
    z-index: 0;
}

.table-sm-blue tr:nth-child(even) {
    background-color: rgba(96, 96, 96, 0.05);
}

.table-sm-blue tr:nth-child(odd) {
    background-color: rgba(96, 96, 96, 0.01);
}

.table-sm-blue th {
    position: static;
    background: linear-gradient(180deg, #3372ed 0%, #1138c2 100%);
}

.table-sm-blue th,
.table-sm-blue td {
    text-align: left;
    padding: 20px;
}

/* END: User/Dev profile */

/* ============================================ */
/* ============== MEDIA QUERIES =============== */
/* ============================================ */

@media only screen and (max-width: 1440px) {
    /* user-section */

    .table {
        /* background-color: blue; */
    }
    .main-container {
        max-height: 93vh;
        overflow-y: hidden;
    }
    /* User section new user */

    .slide-container {
        padding: 0 60px;
        padding-top: 70px;
        padding-bottom: 30px;
    }

    /* User section */

    .user-section-table {
        height: 81vh;
    }

    th:not(th:first-of-type),
    td:not(td:first-of-type) {
        padding-left: 15px;
        padding-right: 15px;
    }

    th:first-of-type,
    td:first-of-type {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .container.grid {
        position: relative;
        grid-template-columns: unset;
    }

    .main-container {
        max-height: 80vh;
        overflow-y: hidden;
        position: relative;
        top: 11vh;
    }

    .section-profile {
        padding: 30px 0;
    }

    .user-section-table {
        height: 66vh;
    }

    .profile-table-area {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 992px) {
    section.timer-client-container {
        width: 100%;
        height: 400px;
        padding: 30px 60px;
        top: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .section-profile {
        grid-template-columns: 1fr;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    section.timer-client-container {
        width: 100%;
        height: 100%;
        padding: 30px 60px;
        top: 0%;
    }

    .timer-group {
        grid-template-columns: 60% auto;
        gap: 80px;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .profile-info {
        overflow-y: unset;
        padding: 0;
        width: 400px;
        margin: 0 auto;
        align-items: flex-start;
        position: relative;
        border-right: unset;
        border-bottom: 1px solid #bababa;
    }

    .profile-info .edit-button {
        position: absolute;
        right: 25%;
    }

    .profile-group {
        width: unset;
    }

    .profile-description {
        width: unset;
    }

    .profile-group img {
        margin-top: 40px;
    }

    .table-wrapper {
        margin-top: 30px;
        overflow: unset;
        width: 90vw;
    }

    .table-sm-blue {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 680px) {
    .section-header,
    .user-section-header,
    .clients-section-header {
        padding: 30px 35px;
        justify-content: space-between;
        gap: 20px;
    }

    .user-section-table {
        height: 65vh;
    }

    .search-group {
        width: 50%;
    }

    #table-search {
        width: 70%;
    }

    section.timer-client-container {
        width: 100%;
        height: 100%;
        padding: 30px;
        top: 0%;
    }
}

@media only screen and (max-width: 576px) {
    .main-container {
        top: unset;
    }
}

@media only screen and (max-width: 480px) {
    .section-header {
        flex-direction: column;
    }

    .search-group {
        width: unset;
    }

    .add-user,
    .add-client {
        align-self: flex-end;
        margin-left: 20px;
    }

    .user-section-table {
        height: 60vh;
    }

    .user-section-table.height-fix {
        height: 69vh;
    }

    .big-table tr th:first-of-type,
    .big-table tr td:first-of-type {
        padding: 10px 30px;
    }

    .slide-container {
        width: 100%;
    }

    section.delete-user-container,
    section.invoice-client-container {
        width: 100%;
        padding: 20px;
    }

    .delete-user-form .button-group,
    .timer-form .button-group {
        gap: 10px;
    }

    .delete-user-container .btn-small {
        width: 150px;
        height: 40px;
    }

    /* Modal Timer */
    div.button-group:nth-child(3) > input:nth-child(2) {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .main-container {
        margin: 15px;
    }

    .client-section {
        height: 80vh;
    }

    .profile-info {
        width: 260px;
    }

    .user-section-table {
        height: 58vh;
    }

    .profile-info .edit-button {
        right: 15%;
    }

    .profile-group .form-group,
    .profile-group .form-group select {
        font-size: 14px;
        width: 95%;
    }

    .profile-table-area {
        padding: 0 20px;
    }

    /* timer modal */
    .timer-fields textarea {
        width: 83vw;
    }
}
